*.pth filter=lfs diff=lfs merge=lfs -text
*.4.yolo filter=lfs diff=lfs merge=lfs -text
*.4.cyolo filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.engine filter=lfs diff=lfs merge=lfs -text
